.calendar {
  max-width: 100vw;
  height: 95vh;
  z-index: 1;
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f g i";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 520px) {
  .calendar {
    grid-template-areas:
      "a b"
      "c d"
      "e f "
      "g i";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.slide {
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  border: 5px dashed orange;
  transition: left 1s;
  z-index: 0;
  &.active {
    z-index: 100;
    left: 0;
  }
}
