.calendar {
  max-width: 100vw;
  height: 95vh;
  z-index: 1;
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f g i";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 520px) {
  .calendar {
    grid-template-areas:
      "a b"
      "c d"
      "e f "
      "g i";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.slide {
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
 
  background-image: linear-gradient(
    45deg,
    rgba(225, 250, 255, 0.2),
    rgba(210, 240, 255, 0.9) 50%,
    rgba(200, 230, 250, 0.9) 3%,
    rgba(225, 250, 255, 0.2)
  );
  border: 5px solid orange;
  outline:5px dashed #000;
  outline-offset:-5px;
  transition: left 1s;
  z-index: 0;
  &.active {
    z-index: 100;
    left: 0;
  }
}
