.card {
  z-index: 2;
  font-family: var(--font-calendar-date);
  max-height: 100%;
  max-width: 25vw;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid rgba(212, 212, 212, 0.37);

  &:hover {
    box-shadow: 0 0 5px 1px rgb(175, 175, 175);
  }
  &__date {
    margin-bottom: 1rem;
  }
  &__events {
    margin-bottom: 0.5rem;
  }
  &__preview-list {
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      margin-right: 1rem;
    }
  }
}
@media (max-width: 520px) {
  .card {
    padding: 1px;
    max-width: 50vw;
  }
}
